/*
Description: Primary style sheet for portfolio at malynch7.github.io.
Author: Mark Lynch
Created: 10-07-2020
*/

:root {
    --color-primary:  #2196F3;
}

/*==== General ==============================================================*/

h2, h3{
    color: var(--color-primary);
}

.section {
    padding-top: 6rem;
    padding-bottom:6rem;
}

.flex {
    display: inline-flex;
}


/*==== Hero Section =========================================================*/

#titleWrapper{
    padding-top: 25vh;
}

#titleWrapper .card {
    width: 80%;
    margin: auto
}

#titleCard {
    background-color: var(--color-primary);
    margin: 0 !important;

}

#titleCard .flex {
    margin-bottom: 0;
}

#nameplate {
    text-align: left;
    padding-left: 2em;
}

#nameplate h1{
    font-size: 5rem;
    margin-top: 0;
}

.parallax-container{
    height: 94vh;
}

.parallax-container img{
    height: 130vh;
}

@media only screen and (min-width: 800px) {

    #nameplate h1{
        font-size: 6rem;
        margin-top: 0;
    }

    #titleWrapper .card {
        width: 80%;
        margin: auto
    }
}

/*==== Navbar ===============================================================*/

nav a {
    color: var(--color-primary) !important;
}

nav ul :hover{
    background-color: #e1f5fe;
}

#main-nav{
    z-index: 2;
}

.pin-top {
    position: relative;
}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
}

#nav-container {
    height: 64px;
}

.sidenav a {
    font-size: 24px !important;
    margin-top: 1rem;
    color: var(--color-primary) !important;
    border-bottom: #969696;
}

.sidenav li:first-child{
    margin-top: 3rem;
}


/*==== About Me =============================================================*/

#about-me {
    padding-bottom: 4em;
    font-size: 16px;
}

#skills-view .col{
    justify-content: center;
}

#skills-view .card{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}


/*==== Featured Projects ====================================================*/

#project-container{
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    padding-top: 8em;
    padding-bottom: 8em;
}

@media only screen and (max-width: 993px){
    #project-container {
        clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
    }
}

#project-view .row {
    display:flex;
}

#project-view .card {
    height: 85%;
    margin: 2em;
}

#project-view .card-image span {
    width: 100%;
}

#u-ecms-card .card-reveal p{
    margin-top: 3em;
}

.card-reveal a{
    position: absolute;
    bottom: 2em;
    left: 1.5em;
    font-size: larger;
}


/*==== Contact Form ===========================================================*/

#contact {
    margin: 2em;
    font-size:16px;
}

.input-field,
#contact-send-btn{
    margin-top: 4em;
}
/* label color */
.input-field label {
    color: #969696 !important;
}
/* label focus color */
.input-field input:focus + label,
.input-field textarea:focus +label{
    color: var(--color-primary) !important;
}
/* label underline focus color */
.input-field input:focus,
.input-field textarea:focus{
    border-bottom: 1px solid var(--color-primary) !important;
    box-shadow: 0 1px 0 0 var(--color-primary) !important;
}
/* icon prefix focus color */
.input-field .prefix,
.input-field .prefix.active{
    color: var(--color-primary);
}

form {
    max-width: 1000px;
    margin: auto;
}

.btn {
    background-color: var(--color-primary);
}

.btn:hover,
.btn:focus {
    background-color: #00b0ff;
}


/*==== Footer ===============================================================*/

footer {
    clip-path: polygon(0 45%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 10em !important;
}

.page-footer a>i {
    width: 30px;
    position: relative;
    top: 5px;
}

@media only screen and (max-width: 993px){
    footer {
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    }
}