/*
Description: Primary style sheet for portfolio at malynch7.github.io.
Author: Mark Lynch
Created: 10-07-2020
*/

/*==== General ==============================================================*/

h2, h3{
    color: #0091ea;
}

.section {
    padding-top: 6rem;
    padding-bottom:6rem;
}


/*==== Hero Section =========================================================*/

#titleWrapper{
    padding-top: 25vh;
}

#titleCard{
    border: 10px gray;
}

.parallax{
    opacity: 0.65;
}

.parallax-container{
    height: 94vh;
}

.parallax-container img{
    height: 160vh;
    width: 100%;

}


/*==== Navbar ===============================================================*/

nav a {
    color: #0091ea !important;
}

nav ul :hover{
    background-color: #e1f5fe;
}

#main-nav{
    z-index: 2;
}

.pin-top {
    position: relative;
}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
}

#nav-container {
    height: 64px;
}

.sidenav a {
    font-size: 24px !important;
    margin-top: 1rem;
    color: #0091ea !important;
    border-bottom: #969696;
}

.sidenav li:first-child{
    margin-top: 3rem;
}


/*==== About Me =============================================================*/

#about-me {
    padding-bottom: 4em;
    font-size: 16px;
}

#skills-view .col{
    justify-content: center;
}

#skills-view .card{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}


/*==== Featured Projects ====================================================*/

#project-container{
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    padding-top: 8em;
    padding-bottom: 8em;
}

@media only screen and (max-width: 993px){
    #project-container {
        clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
    }
}

#project-view .row {
    display:flex;
}

#project-view .card {
    height: 85%;
    margin: 2em;
}

#project-view .card-image span {
    width: 100%;
}

#u-ecms-card .card-reveal p{
    margin-top: 3em;
}

.card-reveal a{
    position: absolute;
    bottom: 2em;
    left: 1.5em;
    font-size: larger;
}


/*==== Contact Form ===========================================================*/

#contact {
    margin: 2em;
    font-size:16px;
}

.input-field,
#contact-send-btn{
    margin-top: 4em;
}
/* label color */
.input-field label {
    color: #969696 !important;
}
/* label focus color */
.input-field input:focus + label,
.input-field textarea:focus +label{
    color: #0091ea !important;
}
/* label underline focus color */
.input-field input:focus,
.input-field textarea:focus{
    border-bottom: 1px solid #0091ea !important;
    box-shadow: 0 1px 0 0 #0091ea !important;
}
/* icon prefix focus color */
.input-field .prefix,
.input-field .prefix.active{
    color: #0091ea;
}


/*==== Footer ===============================================================*/

footer {
    clip-path: polygon(0 45%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 10em !important;

}

@media only screen and (max-width: 993px){
    footer {
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    }
}