
body{
  background-image: url("HikingBackground.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
}
 h1 {
  text-align: center;
  color: black;
}
table {
    height: 60%;
    max-height: 525px;
  width: 95%;
    max-width: 525px;
}
tr, td, table {
  border-style: solid;
  border-width: 1px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
}
td {
  transition: .3s background-color;
}
td:hover {
  background-color: red;
}
button {
  height: 25px;
  width: 225px;
  margin: auto;
  position: relative;
}
.HighLight {
  background-color:blue !important;
}

.buttonM{
      width: 125px;
      height: 35px;

}
#JustButtons{
    text-align: center;
    margin: auto;
    padding-top: 50px;
}
.select{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button1{
    width: 125px;
    height: 35px;
}

#mainframe{
  border: 0;
  width: 85%;
  margin-left:auto;
  margin-right:auto;
}

#table1{
  border: 0;
  width: 85%;
  margin-left:auto;
  margin-right:auto;
}

.video{
    width: 800px;
    height: 450px;
    margin: auto;
    display: block;
}

input[type="submit"]{
    border-radius: 8px;
    background-color: #dc3b2b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: 5%;

}

input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
